In [2]:
import pandas as pd

In [2]:
#strings
country=['India','pakistan','america','nepal','shrilanka']
pd.Series(country)#Series is class of pandas

0        India
1     pakistan
2      america
3        nepal
4    shrilanka
dtype: object

In [3]:
#integers
runs=[12,23,34,45,67]
pd.Series(runs)

0    12
1    23
2    34
3    45
4    67
dtype: int64

In [3]:
#custome index
marks=[67,68,60,78]
sub=['math','physcis','chemistry','English']
pd.Series(marks)

0    67
1    68
2    60
3    78
dtype: int64

In [5]:
pd.Series(marks,index=sub)

math         67
physcis      68
chemistry    60
English      78
dtype: int64

In [6]:
#setting a name 
pd.Series(marks,index=sub,name='Utkarsh')

math         67
physcis      68
chemistry    60
English      78
Name: Utkarsh, dtype: int64

In [7]:
marks=pd.Series(marks,index=sub,name='Utkarsh')

In [3]:
#series fro dictionary(automatically name become indwx and value is become value.)
marks={
    'maths':67,
    'english':57,
    'science':89,
'hindi':100
 
}
marks_series=pd.Series(marks,name= "Utkarsh")
marks_series

maths       67
english     57
science     89
hindi      100
Name: Utkarsh, dtype: int64

In [9]:
#size
marks_series.size

4

In [10]:
marks_series.dtype

dtype('int64')

In [11]:
marks_series.name

'Utkarsh'

In [12]:
#is_unique
marks_series.is_unique

True

In [13]:
pd.Series([1,2,343,343,2,4,5,24,35]).is_unique

False

In [1]:
#index
marks_series.index

NameError: name 'marks_series' is not defined

In [15]:
#values
marks_series.values

array([ 67,  57,  89, 100])

Series using read_csv

In [16]:
#read csv file 
df=pd.read_csv('bollywood.csv')
df

                                     movie              lead
0                 Uri: The Surgical Strike     Vicky Kaushal
1                            Battalion 609       Vicky Ahuja
2     The Accidental Prime Minister (film)       Anupam Kher
3                          Why Cheat India     Emraan Hashmi
4                          Evening Shadows  Mona Ambegaonkar
...                                    ...               ...
1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
1496                   Aankhen (2002 film)  Amitabh Bachchan
1497                       Saathiya (film)      Vivek Oberoi
1498                        Company (film)        Ajay Devgn
1499                  Awara Paagal Deewana      Akshay Kumar

[1500 rows x 2 columns]

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
#(squeeze=True) is used to convert Datarame inti Series.
pd.read_csv('bollywood.csv')
s=df.squeeze('columns')

In [19]:
s

                                     movie              lead
0                 Uri: The Surgical Strike     Vicky Kaushal
1                            Battalion 609       Vicky Ahuja
2     The Accidental Prime Minister (film)       Anupam Kher
3                          Why Cheat India     Emraan Hashmi
4                          Evening Shadows  Mona Ambegaonkar
...                                    ...               ...
1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
1496                   Aankhen (2002 film)  Amitabh Bachchan
1497                       Saathiya (film)      Vivek Oberoi
1498                        Company (film)        Ajay Devgn
1499                  Awara Paagal Deewana      Akshay Kumar

[1500 rows x 2 columns]

In [20]:
type(s)

pandas.core.frame.DataFrame

In [21]:
s=df['movie']

In [22]:
type(s)

pandas.core.series.Series

In [23]:
df=pd.read_csv('bollywood.csv',index_col='movie')

In [24]:
df

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

In [25]:
pandas.core.frame.DataFrame

NameError: name 'pandas' is not defined

In [ ]:
df

In [ ]:
type(df)

In [ ]:
s=df.stack()

In [ ]:
type(s)

In [ ]:
type(df)

In [ ]:
df.head()#top 5 rows

In [ ]:
df.tail()#bottom  5 rows

In [ ]:
df.sample()# random onlu one rows shows

In [ ]:
df.sample(5)#used when data is biased

In [ ]:
#value_count(describe the frequency)

In [ ]:
df.value_counts()

In [ ]:
#df.sort_values()by descendingfor (ascending+False)

In [ ]:
df.sort_index(inplace=True)

In [ ]:
df

In [ ]:
#series maths methods

In [ ]:
import pandas as pd

In [10]:
df1=pd.read_csv('subs.csv')

In [ ]:
df1.min()

In [ ]:
df1.max()

In [ ]:
df1.describe()#it provide summary of whole dataset

In [ ]:
#integer indexing
x=pd.Series([12,13,14,35,45,57])
x[0]

In [ ]:
#negative indexing(series does not  work on negative indexing)
#when custom index is string then it work and when it is integer not working.

In [ ]:
#slicing(at time we can fetch more element)
df1[-5:]

In [ ]:
#fancy indexing
#df1[[1,3,4,5]]

In [ ]:
#indexing with label -> fancy indexing

Editing series

In [26]:
#using index label
marks_series[1]=200;

C:\Users\rashi\AppData\Local\Temp\ipykernel_2744\390979758.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  marks_series[1]=200;

In [28]:
marks_series

maths       67
english    200
science     89
hindi      100
Name: Utkarsh, dtype: int64

In [29]:
marks_series['c+']=3000

In [30]:
marks_series

maths        67
english     200
science      89
hindi       100
c+         3000
Name: Utkarsh, dtype: int64

In [32]:
#slicing
runs_ser=[100,350]
runs_ser

[100, 350]

In [ ]:
#fancy indexing
runs_ser

In [ ]:
#membership operator works on only key not value

In [4]:
#Arthmetic operator(broadcasting and it add 100 in all values)
100+marks_series

maths      167
english    157
science    189
hindi      200
Name: Utkarsh, dtype: int64

In [ ]:
#relational operator

In [7]:
#astype is used to change data type.
import sys
sys.getsizeof(marks)

88

In [8]:
#marks.astype('int16')

AttributeError: 'list' object has no attribute 'astype'

In [ ]:
#between is used to find the value in particular rage and return as boolean value.
#vk[vk.between(51,99)].size

In [11]:
#clip is used to set value in particular range like that we want set value in particular range 100 to 200.and less than 100 set to 100 and greater than 200 is set to 200
df1.clip(100,200)

     Subscribers gained
0                   100
1                   100
2                   100
3                   100
4                   100
..                  ...
360                 200
361                 200
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [13]:
#drop_duplicates is used to remove duplicates value.
temp=pd.Series([1,1,1,2,3,3,4,5,6])
temp

0    1
1    1
2    1
3    2
4    3
5    3
6    4
7    5
8    6
dtype: int64

In [14]:
temp.drop_duplicates()

0    1
3    2
4    3
6    4
7    5
8    6
dtype: int64

In [15]:
temp.drop_duplicates(keep='last')#means first will be remove and last remain and  by default keep is first

2    1
3    2
5    3
6    4
7    5
8    6
dtype: int64

In [17]:
#duplicated ,it tells that value is duplicated or not if value is false means value is not duplicates.
temp.duplicated()

0    False
1     True
2     True
3    False
4    False
5     True
6    False
7    False
8    False
dtype: bool

In [18]:
temp.duplicated().sum()

np.int64(3)

In [19]:
temp.count()

np.int64(9)

In [21]:
temp.size

9

In [23]:
#marks_series.isnull().sum()

NameError: name 'marks_series' is not defined

In [24]:
#dropna() make a  new series from existing dataset and it remove all missing values.

In [25]:
#fillna() is also make a new dataset from existing dataset and missing value replace by some value.
#temp.fillna(temp.mean())means we want replace missing value by mean of temp.

In [26]:
#isin(), it return as boolean value. 
#vk.isin([49,45,46])

In [27]:
#apply , it helps to apply custom logic on datasets
#

In [28]:
#copy and view

In [29]:
#when we fetch data through head() and tail() and changes anythings in datasets it directly reflect on data and head()and tail() provide view of dataset
#to avoid these condition we copy function.